@model PapeleriaMerida.Models.EmpresaModel
@{
    ViewBag.Title = "¡ ENTRA Y DESCUBRE ! >>";
    ViewBag.Parentesis = "CONTACTO";
    ViewBag.Title2 = "PAPELERIA MERIDA MAYORISTA";
    ViewBag.descripcion = "Envianos tus datos  ✅  Nosotros nos contactamos , Articulos de Papelería a un super precio , estamos ubicados en Mérida Yucatán";
    ViewBag.robots = "index, follow, archive";
    Layout = "~/Views/Master/Publico.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('../../images/escolares.jpg');">
    <div class=""></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread" style="color:black;">Contactanos</h1>
                <p class="breadcrumbs" style="color:black;"><span class="mr-2" style="color:black;"><a style="color:black;" href="@Url.Action("Inicio", "Papeleria")">Inicio <i style="color:black;" class="ion-ios-arrow-forward"></i></a></span> <span style="color:black;">Contacto</span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-3 d-flex">
                <div class="bg-light align-self-stretch box p-4 text-center">
                    <h3 class="mb-4">Direccion:</h3>
                    <p>@Model.direccion</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="bg-light align-self-stretch box p-4 text-center">
                    <h3 class="mb-4">Numero de Contacto</h3>
                    <p><a href="tel://1234567920">@Model.telefono</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="bg-light align-self-stretch box p-4 text-center">
                    <h3 class="mb-4">Correo Electrónico</h3>
                    <p><a href="mailto:ventas@papeleriamerida.com.mx">@Model.correo</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="bg-light align-self-stretch box p-4 text-center">
                    <h3 class="mb-4">Sitio WEB</h3>
                    <p><a href="https://www.papeleriamerida.com.mx/" target="_blank">@Model.sitio</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">

    <div class="container">
        <div class="row d-flex align-items-stretch no-gutters">
            @if (TempData["Mensaje"] != null)
            {
                <div class="alert alert-success col-md-12" style="text-align:center;" role="alert">
                    <strong>¡BIEN!</strong> Su mensaje ha sido enviado con éxito. <strong>Pronto nos contactaremos con usted.</strong>
                </div>
            }
            @if (ViewBag.error != null)
            {
                <div class="alert alert-danger col-md-12" style="text-align:center;" role="alert">
                    <strong>¡OOPS!</strong> Al parecer hubo un error intentalo de nuevo más tarde.
                </div>
            }
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
    @using (Ajax.BeginForm("EnviarMensaje", "Admin", new AjaxOptions { HttpMethod = "POST" }))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row d-flex align-items-stretch no-gutters">
                <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
                    <form action="#">
                        <div class="form-group">
                            <input type="text" class="form-control" name="asunto" placeholder="Asunto" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="correo" placeholder="Correo Electrónico" required>
                        </div>
                        <div class="form-group">
                            <input type="text" required name="telefono" class="form-control" placeholder="Teléfono/Celular">
                        </div>
                        <div class="form-group">
                            <textarea name="mensaje" required id="" cols="30" rows="7" class="form-control" placeholder="Mensaje"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Enviar Mensaje" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>
                </div>

                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d931.5135511678819!2d-89.59066137082894!3d20.950338251572987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5671008183f537%3A0x43be28c30712be10!2zQ2FsbGUgMjPhtKwgMzMyLCBTYW4gSm9zw6kgVmVyZ2VsLCA5NzE3MyBNw6lyaWRhLCBZdWMu!5e0!3m2!1ses-419!2smx!4v1550888682740" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    }
</section>

