@using System.Data;
@model DataTable
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Datos guardados</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Título</th>
                                <th scope="col">Opinión</th>
                                <th scope="col">Imagen</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in Model.Rows)
                            {
                                <tr id="Fila_@item["idOpinion"]">
                                    <th scope="row">@item["idOpinion"]</th>
                                    <td>@item["titulo"]</td>
                                    <td>@item["opinionCliente"]</td>
                                    <td><img style="width: 90px; height: 130px" src="~/images/Clientes/@item["imagenCliente"]" /></td>
                                    <td>
                                        <a type="button" rel="tooltip" title="Editar" class="btn btn-success btn-simple btn-xs" href="@Url.Action("ModificarProducto", "Admin", new { id =item["idOpinion"]  })">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a type="button" rel="tooltip" title="Eliminar" class="btn btn-danger btn-simple btn-xs" href="@Url.Action("EliminarProducto", "Admin", new { id =item["idOpinion"]  })">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.panel-->
    </div><!-- /.panel-->
</div><!-- /.col-->
