<!DOCTYPE html>
<html lang="es-mx">
<head>
    <title>@ViewBag.Title&nbsp;〖&nbsp;@ViewBag.Parentesis&nbsp;〗&nbsp;@ViewBag.Title2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@ViewBag.descripcion">
    <link rel="icon" type="image/png" href="../../images/gift.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
    <style>
        .cabe {
            background-color: rgba(3, 169, 244, .30);
            color: #03A9F4;
        }

        .acento {
            background: #CDDC39;
        }

        .txtlink {
            color: #03A9F4;
        }

        .prod {
            border-radius: 20px;
            background-color: #FBA8EC;
            margin-left: 8px;
            color: black;
            padding: 6px 6px 6px 6px;
            text-align: center;
        }

        .qui {
            border-radius: 20px;
            background-color: #D096FF;
            margin-left: 8px;
            padding: 6px 6px 6px 6px;
            color: black;
            text-align: center;
        }

        .cont {
            border-radius: 20px;
            background-color: #C0FF62;
            margin-left: 8px;
            padding: 6px 6px 6px 6px;
            /*font-weight: bold;*/
            color: black;
            text-align: center;
        }

        .co {
            border-radius: 20px;
            background-color: #EDF596;
            margin-left: 8px;
            /*font-weight: bold;*/
            padding: 6px 6px 6px 6px;
            color: black;
            text-align: center;
        }

        .col {
            border-radius: 20px;
            background-color: #FDEBDA;
            margin-left: 8px;
            /*font-weight: bold;*/
            padding: 6px 6px 6px 6px;
            color: black;
            text-align: center;
        }

        .ini {
            border-radius: 20px;
            background-color: #34FFD9;
            margin-left: 8px;
            color: black;
            padding: 6px 6px 6px 6px;
            text-align: center;
        }

        .inio {
            border-radius: 20px;
            background-color: #AFD0FF;
            margin-left: 8px;
            color: black;
            padding: 6px 6px 6px 6px;
            text-align: center;
        }

        .reg {
            background-color: #FCB817;
            margin-left: 8px;
            text-align: center;
        }

        .pos {
            position: absolute;
        }

        .imgResponsive {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Inicio","Papeles")"><img src="../../images/logo.png" width="250" height="50"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item prod"><a href="@Url.Action("Granmark","Papeles")" class="nav-link"><b>Granmark</b></a></li>
                    
                    <li class="nav-item qui"><a href="@Url.Action("Galas","Papeles")" class="nav-link"><b>Galas</b></a></li>
                    @*<li class="nav-item inio"><a href="@Url.Action("Bolsas","Papeles")" class="nav-link"><b>Bolsas</b></a></li>*@
                    <li class="nav-item cont"><a href="@Url.Action("Regalos","Papeles")" class="nav-link"><b>Regalos</b></a></li>
                    <li class="nav-item ini"><a href="@Url.Action("QuiénesSomos","Papeles")" class="nav-link"><b>Quiénes Somos</b></a></li>
                    <li class="nav-item co"><a href="@Url.Action("Contacto","Papeles")" class="nav-link"><b>Contacto</b></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    @RenderBody()
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Derechos Reservados | Papeles de Regalo <i class="icon-heart" aria-hidden="true"></i> de <a href="https://colorlib.com" target="_blank">Granmark | Galas</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>